<div class="toast-container">
  <div
    *ngFor="let toast of toasts$ | async"
    class="toast"
    [ngClass]="'toast--' + toast.type"
    (click)="close(toast.id)"
  >
    <span class="toast__icon" *ngIf="toast.type === 'success'">✔</span>
    <span class="toast__icon" *ngIf="toast.type === 'error'">✖</span>
    <span class="toast__icon" *ngIf="toast.type === 'info'">ℹ</span>
    <span class="toast__message">{{ toast.message }}</span>
    <button class="toast__close" (click)="close(toast.id)">×</button>
  </div>
</div>
